data/all_facts.xlsx
data/rejected_facts.xlsx
data/all_chunks.xlsx
*.log
__pycache__/
.pytest_cache/
venv/
*.pyc
*.pyo
*.pyd
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
commit_message.txt
commit_msg.txt
.env
